@import url('https://fonts.googleapis.com/css2?family=Megrim&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');

* {
  -moz-transform-origin: unset !important;
  -webkit-transform-origin: unset !important;
  -o-transform-origin: unset !important;
  -ms-transform-origin: unset !important;
  transform-origin: unset !important;
}

body {
  margin: 0;
  overflow: hidden;
  background-color: black;
  background-image: url(../img/background3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.grid_wrapper {
  width: 100%;
  height: 80%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logotyp {
  color: rgba(80, 97, 130, 0.721);
  font-family: 'Megrim', cursive;
  font-size: 1rem;
  font-weight: 700;
  transition: 0.5s;
  cursor: pointer;
}

.heading-off {
  display: none;
}
.navigation-button {
  text-decoration: none;
  color: rgba(80, 97, 130, 0.9);
  font-family: 'Megrim', cursive;
  font-weight: 300;
}

.tip-up {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.tip-down {
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}
.border {
  border: 7px solid !important;
  border-image: url(../img/border.svg) !important;
  border-image-slice: 55 50 !important;
}
.border-inside {
  background-color: rgba(117, 124, 150, 0.2);
  /* height: 90%; */
  padding: 2px 5px;
  border-radius: 8%;
}

/* section */
.section {
  position: relative;
  /* display: none; */
  left: 0;
  right: 0;
  width: 80%;
  height: 85%;
  z-index: 10;
}

/* main grid container */

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 0.5fr;
  gap: 0em 0em;
  grid-template-areas:
    'about-grid . lorem-grid'
    '. logotyp-grid .'
    'lorem2-grid . contact-grid';
}
.logotyp-grid {
  grid-area: logotyp-grid;
}

.about-grid {
  grid-area: about-grid;
}
.lorem2-grid {
  grid-area: lorem2-grid;
}
.contact-grid {
  grid-area: contact-grid;
}
.lorem-grid {
  grid-area: lorem-grid;
}
